Package: exhibit
Version: 1.0-1
Architecture: amd64
Maintainer: nokse22 <nokse22@users.noreply.github.com>
Installed-Size: 5220
Depends: dconf-gsettings-backend | gsettings-backend, python3, python3-gi, gir1.2-gtk-4.0, gir1.2-adw-1, libglib2.0-0, libgtk-4-1, libadwaita-1-0, libopengl0
Section: gnome
Priority: optional
Homepage: https://github.com/nokse22/Exhibit
Description: 3D model viewer for GNOME
 Exhibit is a 3D model viewer for the GNOME desktop environment.
 It uses f3d for rendering and supports various 3D file formats.
